<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ser.pipi.piball">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme">
        <activity
            android:name=".AndroidLauncher"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> 
                <category android:name="android.intent.category.LAUNCHER" />  
                <action android:name="android.intent.action.HUI" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".SettingsReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_RECIVER_FOR_ALL_QUERY_SETTINGS" />
                <action android:name="ACTION_RECIVER_PIBALL_SET_AND_SAVE_SETTINGS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>